/* font: work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "work sans", sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 0;
}

img {
    width: 100%;
}

.button-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
}

.banner-description {
    max-width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 100px auto;
}

nav {
    width: 76vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;

}

nav>ul li {
    list-style: none;
}

nav>ul a {
    text-decoration: none;
    color: #424242;
    margin-left: 15px;
}

nav .nav-title {
    color: #131313;
    font-size: 2.8rem;
}

.banner .banner-heading {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner .banner-description p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner .banner-picture {
    width: 76vw;
    margin: 0 auto;
}

/* feature */
.features {
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    width: 68.64vw;
}

.features .image-container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1%;
}

.image-container .team-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.image-container .team-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}

.image-container .team-3 {
    grid-column: 1/span 6;
    grid-row: 2/span 1;
}

.image-container .team-4 {
    grid-column: 7/span 6;
    grid-row: 2/span 1;
}

.features .feature-title {
    font-size: 2.8rem;
    margin-bottom: 24px;
}

.features .feature-title .first-part {
    color: #727272;
    font-weight: 500;
}

.features .feature-title .second-part {
    color: #131313;
    font-weight: 700;
}

.features .feature-title .third-part {
    color: #FF900E;
    font-weight: 700;
}

.features .description p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.icons {
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
}
.facts {
    margin-top: 100px;
    margin-bottom: 100px;
}
.facts-block p {
    margin-bottom: 10px;
    color:  #424242;
    font-size: 2.81rem;
    font-weight: 600;
}
.facts-block b {
    color:  #727272;
    font-size: 1.25rem;
    font-weight: 600;
}


.facts-block-container {
    display: flex;
    width: 76vw;
    margin: 100px auto;
    justify-content: space-around;
   
}

.facts-title {
    color: #131313;
    font-size: 2.81rem;
    font-weight: 700;
}

.facts-description {
    width: 76vw;
    margin: 0 auto;
}

.facts-description p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    max-width: 37.14%;
}

.facts-block {
    width: 16.57%;
    height: 14.59vw;
    border-radius: 8px;
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* media query and media screen */
/* mobile device or small device */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    .banner-description {
        max-width: 90%;
    }

    .features {
        flex-direction: column;
    }

    .features .image-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 90vw;
        gap: 10px;
    }

    .image-container .team-1 {
        grid-column: 1/span 6;
        grid-row: 1/span 1;
    }

    .image-container .team-2 {
        grid-column: 1/span 6;
        grid-row: 2/span 1;
    }

    .image-container .team-3 {
        grid-column: 1/span 6;
        grid-row: 3/span 1;
    }

    .image-container .team-4 {
        grid-column: 1/span 6;
        grid-row: 4/span 1;
    }

    .features .description {
        width: 90vw;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {

    nav,
    .features {
        flex-direction: column;
    }

    .features .image-container,
    .features .description {
        width: 90vw;
    }

    .features .description {
        margin-top: 30px;
    }

    .banner-description {
        max-width: 90%;
    }
}